#div_cadastro_login {
    display: none;}

#botao_cadastro{
	float: right;
	background-color: #33ab35;
	font-weight: bold;}

#botao_login{
	float: right;
	background-color: #33ab35;
	font-weight: bold;}

#div_cadastro{
    display:none;}

input:not([type="submit"]):focus{
	color:#fff;
	font-weight: bold;
    background-color: #33ab35;}

#pagina_projeto{
    display:none;}

#pagina_midia{
    display:none;}

#pagina_doacao {
	display: none;}

#helper{
	position: fixed;
	margin-top: 43%;
	margin-left:93%;}

.tamanho{
    max-height: 100%;
    max-width: 60%;
    height: auto;
    width: auto;}

#info_doacao{
	border: 1px solid;
	word-wrap: break-word;}

	
/* -- DOACAO -- */

#porque_doar{
	display: none;}
#porque_doar_midia{
	display: none;}

#entidades{
	display: none;}
#entidades_midia{
	display: none;}
	
#como_doar{
	display: none;}
#como_doar_midia{
	display: none;}

#brindes{
	display: none;}
#brindes_midia{
	display: none;}

#formulario_doacao{
	display:none;}

	


