#div_cadastro_login {
    display: none;
}

#botao_cadastro{
	float: right;
	background-color: #33ab35;
	font-weight: bold;
}

#botao_login{
	float: right;
	background-color: #33ab35;
	font-weight: bold;
}


#div_cadastro{
    display:none;
}

input:not([type="submit"]):focus{
	color:#fff;
	font-weight: bold;
    background-color: #33ab35;
}
#pagina_projeto{
    display:none;
}
#pagina_midia{
    display:none;
}

#pagina_doacao {
	display: none;
}

<<<<<<< HEAD
#helper{
	position: fixed;
	margin-top: 43%;
	margin-left:93%;
}

=======
.tamanho{
	max-height: 40%;
	max-width: 40%;
	height: auto;
	width: auto;
}
>>>>>>> origin/master

